/* CATÁLOGO GENERAL */
.catalogo-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
}

.categoria {
  text-align: center;
  background: #f9f9f9;
  border-radius: 15px;
  padding: 30px;
  width: 260px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.categoria img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin: 0 auto 12px;
}

/* BOTONES */
.btn, .btn-secondary {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

/* Perros */
.btn {
  background: #4CAF50;
  color: white;
}

.btn:hover {
  background: #3c8e42;
}

/* Gatos */
.btn-secondary {
  background: #6b4caf;
  color: #fff;
}

.btn-secondary:hover {
  background: #563c8e;
}

.catalogo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.secciones {
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* Productos internos */
.producto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.producto h3 {
  font-size: 16px;
  margin: 10px 0;
}

.precio {
  color: #4c6baf;
  font-weight: bold;
  margin: 10px 0;
}
/* BOTÓN WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.whatsapp:hover {
  background: #21bb59;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .catalogo, .secciones {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .producto, .categoria {
    width: 90%;
  }

  header nav a {
    display: inline-block;
    margin: 6px 10px;
  }

  .item-carrito {
    grid-template-columns: 60px 1fr 1fr 40px;
  }
}
